*/*.DS_Store
.DS_Store
week2/machine-learning-ex1/ex1/token.mat
*/*token.mat
week3/ex2/token.mat
week4/ex3/token.mat
week5/ex4/token.mat
week5/ex4/octave-workspace
week6/ex5/token.mat
week7/ex6/token.mat
week8/ex7/token.mat
week9/ex8/token.mat
week10/ex9/token.mat
week11/ex10/token.mat
